# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Чувствительные данные
.env
credentials.json
*.pem

# БД
data/
*.db
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log
.DS_Store
files/
*.pyc
__pycache__/
.env
*.tmp
*_optimized.pdf
